### Import Package

In [2]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split
# Category Encoder (categorical variable)
from sklearn.preprocessing import LabelEncoder
# Min max normalization (numerical variable)
from sklearn.preprocessing import MinMaxScaler
# Model (can also view the scikit learn to choose the model)
from sklearn.linear_model import LinearRegression
os.getcwd()
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from datetime import date

### Read data

In [5]:
df = pd.read_csv(r'./train.csv')
df_test = pd.read_csv(r'./test.csv')
print('viwe the data shape', df.shape)
df.head()

viwe the data shape (10108, 9)

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,0,2008/9/30,Female,Service,No,2,3.0,3.8,0.16
1,1,2008/11/30,Male,Service,Yes,1,2.0,5.0,0.36
2,2,2008/3/10,Female,Product,Yes,2,NaN,5.8,0.49
3,3,2008/11/3,Male,Service,Yes,1,1.0,2.6,0.20
4,4,2008/7/24,Female,Service,No,3,7.0,6.9,0.52

In [4]:
df_test = pd.read_csv(r'./test.csv')
df.head()

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,0,2008/9/30,Female,Service,No,2,3.0,3.8,0.16
1,1,2008/11/30,Male,Service,Yes,1,2.0,5.0,0.36
2,2,2008/3/10,Female,Product,Yes,2,NaN,5.8,0.49
3,3,2008/11/3,Male,Service,Yes,1,1.0,2.6,0.20
4,4,2008/7/24,Female,Service,No,3,7.0,6.9,0.52

### Data Preprocessing

In [8]:
df.columns=['emp_id','doj','gender','company_type','wfh','designation','resource_alloc','mental_fatigue_score','burn_rate']
df_test.columns=['emp_id','doj','gender','company_type','wfh','designation','resource_alloc','mental_fatigue_score']
#print(df.shape)
df.replace(to_replace='Female',value=1, inplace=True)
df.replace(to_replace='Male',value=0, inplace=True)

df_test.replace(to_replace='Female',value=1, inplace=True)
df_test.replace(to_replace='Male',value=0, inplace=True)

df.replace(to_replace='Product',value=1, inplace=True)
df.replace(to_replace='Service',value=0, inplace=True)

df_test.replace(to_replace='Product',value=1, inplace=True)
df_test.replace(to_replace='Service',value=0, inplace=True)

df.replace(to_replace='Yes',value=1, inplace=True)
df.replace(to_replace='No',value=0, inplace=True)

df_test.replace(to_replace='Yes',value=1, inplace=True)
df_test.replace(to_replace='No',value=0, inplace=True)


df['doj']=pd.to_datetime(df['doj']) #to_datetime() 函式無需指定datetime格式字串即可以一種智慧的方式轉換為datetime自動到字串模式
df_test['doj']=pd.to_datetime(df['doj'])
df.head()

,emp_id,doj,gender,company_type,wfh,designation,resource_alloc,mental_fatigue_score,burn_rate
0,0,2008-09-30,1,0,0,2,3.0,3.8,0.16
1,1,2008-11-30,0,0,1,1,2.0,5.0,0.36
2,2,2008-03-10,1,1,1,2,NaN,5.8,0.49
3,3,2008-11-03,0,0,1,1,1.0,2.6,0.20
4,4,2008-07-24,1,0,0,3,7.0,6.9,0.52

In [9]:
print(df['gender'].unique())
print(df['company_type'].unique())
print(df['wfh'].unique())
print(df['designation'].unique())
print(df['resource_alloc'].unique())

print(df_test['gender'].unique())
print(df_test['company_type'].unique())
print(df_test['wfh'].unique())
print(df_test['designation'].unique())
print(df_test['resource_alloc'].unique())

[1 0]
[0 1]
[0 1]
[2 1 3 0 4 5]
[ 3.  2. nan  1.  7.  4.  6.  5.  8. 10.  9.]
[0 1]
[0 1]
[1 0]
[0 3 4 1 2 5]
[ 1.  8.  9.  3.  5.  6.  4.  2. nan  7. 10.]

### Check Missing Value

In [10]:
print(df['doj'].isnull().values.any())
print(df['gender'].isnull().values.any())
print(df['company_type'].isnull().values.any())
print(df['wfh'].isnull().values.any())
print(df['designation'].isnull().values.any())
print(df['resource_alloc'].isnull().values.any())
print(df['mental_fatigue_score'].isnull().values.any())
print(df['burn_rate'].isnull().values.any())
print(df['resource_alloc'].isnull().sum())
print(df['mental_fatigue_score'].isnull().sum())
print(df['burn_rate'].isnull().sum())

df['resource_alloc'].fillna((df['resource_alloc'].mean()), inplace=True)
df['mental_fatigue_score'].fillna((df['mental_fatigue_score'].mean()), inplace=True)
df['burn_rate'].fillna((df['burn_rate'].mean()), inplace=True)
df_test['resource_alloc'].fillna((df_test['resource_alloc'].mean()), inplace=True)
df_test['mental_fatigue_score'].fillna((df_test['mental_fatigue_score'].mean()), inplace=True)

print(df['resource_alloc'].isnull().sum())
print(df['mental_fatigue_score'].isnull().sum())
print(df['burn_rate'].isnull().sum())

False
False
False
False
False
True
True
True
630
966
484
0
0
0

In [11]:
df.describe()
df.dtypes

emp_id                           int64
doj                     datetime64[ns]
gender                           int64
company_type                     int64
wfh                              int64
designation                      int64
resource_alloc                 float64
mental_fatigue_score           float64
burn_rate                      float64
dtype: object

In [12]:
# 今日日期與表中日期

df['today_date']=date.today()
df['today_date']=pd.to_datetime(df['today_date'])

df['no_months']=((df.today_date-df.doj)/np.timedelta64(1, 'M'))#np.timedelta64(1, 'M')=30天左右
df['no_months']=df['no_months'].astype(int)


df_test['today_date']=date.today()
df_test['today_date']=pd.to_datetime(df_test['today_date'])

df_test['no_months']=((df_test.today_date-df_test.doj)/np.timedelta64(1, 'M'))
df_test['no_months']=df_test['no_months'].astype(int)

df.head()

,emp_id,doj,gender,company_type,wfh,designation,resource_alloc,mental_fatigue_score,burn_rate,today_date,no_months
0,0,2008-09-30,1,0,0,2,3.000000,3.8,0.16,2022-10-12,168
1,1,2008-11-30,0,0,1,1,2.000000,5.0,0.36,2022-10-12,166
2,2,2008-03-10,1,1,1,2,4.497257,5.8,0.49,2022-10-12,175
3,3,2008-11-03,0,0,1,1,1.000000,2.6,0.20,2022-10-12,167
4,4,2008-07-24,1,0,0,3,7.000000,6.9,0.52,2022-10-12,170

### Training (model construction)

In [13]:
#corr相關係數
print(df['no_months'].corr(df['burn_rate']))
print(df['mental_fatigue_score'].corr(df['burn_rate']))
print(df['resource_alloc'].corr(df['burn_rate']))
print(df['no_months'].corr(df['mental_fatigue_score']))
print(df['no_months'].corr(df['resource_alloc']))
print(df['resource_alloc'].corr(df['mental_fatigue_score']))

0.005743835706602253
0.8776302540285252
0.8100072552515907
0.005541137996968886
0.004687149908222316
0.7391089289235807

In [14]:
X=df[['no_months','gender','company_type','wfh','designation','resource_alloc','mental_fatigue_score']]
y=df[['burn_rate']]
t=df_test[['no_months','gender','company_type','wfh','designation','resource_alloc','mental_fatigue_score']]
t.head()

,no_months,gender,company_type,wfh,designation,resource_alloc,mental_fatigue_score
0,168,0,0,1,0,1.0,0.00000
1,166,0,1,0,3,8.0,7.90000
2,175,0,0,0,4,9.0,8.10000
3,167,0,1,0,1,3.0,5.70000
4,170,1,0,0,3,5.0,5.72068

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(np.array(X),np.array(y),test_size=0.2,random_state=42)

In [24]:
from xgboost import XGBRegressor #xgb regressor module
from sklearn.metrics import r2_score
xgb = XGBRegressor(n_estimators = 3000,learning_rate=0.01)
xgb.fit(X_train,Y_train)
pred_xgb = xgb.predict(X_test)
s6 = r2_score(Y_test,pred_xgb)
s6

0.8438179967885044

In [28]:
from lightgbm import LGBMRegressor
lgb = LGBMRegressor()
lgb.fit(X_train,Y_train,eval_set = (X_test,Y_test),early_stopping_rounds=2000)
pred_lgb = lgb.predict(X_test)
s5 = r2_score(Y_test,pred_lgb)
s5

/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/shou/Library/Python/3.8/lib/python/site-packages/lightgbm/sklearn.py:726: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
/Users/shou/Library/Python/3.8/lib/python/site-packages/lightgbm/basic.py:179: UserWarning: Converting column-vector to 1d array
  _log_warning('Converting column-vector to 1d array')

[1]	valid_0's l2: 0.0324898
[2]	valid_0's l2: 0.0273802
[3]	valid_0's l2: 0.0232821
[4]	valid_0's l2: 0.0199385
[5]	valid_0's l2: 0.017229
[6]	valid_0's l2: 0.0150377
[7]	valid_0's l2: 0.0132182
[8]	valid_0's l2: 0.0117617
[9]	valid_0's l2: 0.0105761
[10]	valid_0's l2: 0.00961842
[11]	valid_0's l2: 0.00883588
[12]	valid_0's l2: 0.00820282
[13]	valid_0's l2: 0.00768681
[14]	valid_0's l2: 0.00727016
[15]	valid_0's l2: 0.00693853
[16]	valid_0's l2: 0.00667503
[17]	valid_0's l2: 0.00646156
[18]	valid_0's l2: 0.00628099
[19]	valid_0's l2: 0.00613764
[20]	valid_0's l2: 0.00601875
[21]	valid_0's l2: 0.0059224
[22]	valid_0's l2: 0.00584583
[23]	valid_0's l2: 0.00577862
[24]	valid_0's l2: 0.00572491
[25]	valid_0's l2: 0.00568783
[26]	valid_0's l2: 0.00565081
[27]	valid_0's l2: 0.00562166
[28]	valid_0's l2: 0.00560498
[29]	valid_0's l2: 0.00558503
[30]	valid_0's l2: 0.00557614
[31]	valid_0's l2: 0.00556767
[32]	valid_0's l2: 0.00555709
[33]	valid_0's l2: 0.00554935
[34]	valid_0's l2: 0.00554683
[35]	valid_0's l2: 0.00554694
[36]	valid_0's l2: 0.00554266
[37]	valid_0's l2: 0.00554027
[38]	valid_0's l2: 0.005536
[39]	valid_0's l2: 0.00552948
[40]	valid_0's l2: 0.0055328
[41]	valid_0's l2: 0.00553097
[42]	valid_0's l2: 0.00552841
[43]	valid_0's l2: 0.00552915
[44]	valid_0's l2: 0.00553205
[45]	valid_0's l2: 0.00553908
[46]	valid_0's l2: 0.00554189
[47]	valid_0's l2: 0.00554536
[48]	valid_0's l2: 0.00554738
[49]	valid_0's l2: 0.00555073
[50]	valid_0's l2: 0.0055521
[51]	valid_0's l2: 0.00555194
[52]	valid_0's l2: 0.00555547
[53]	valid_0's l2: 0.00555905
[54]	valid_0's l2: 0.00556298
[55]	valid_0's l2: 0.00556923
[56]	valid_0's l2: 0.00557131
[57]	valid_0's l2: 0.00556672
[58]	valid_0's l2: 0.00557104
[59]	valid_0's l2: 0.00557763
[60]	valid_0's l2: 0.00558049
[61]	valid_0's l2: 0.00558136
[62]	valid_0's l2: 0.00558348
[63]	valid_0's l2: 0.00558073
[64]	valid_0's l2: 0.00558203
[65]	valid_0's l2: 0.00558487
[66]	valid_0's l2: 0.00558315
[67]	valid_0's l2: 0.00558539
[68]	valid_0's l2: 0.00558698
[69]	valid_0's l2: 0.00559486
[70]	valid_0's l2: 0.00559691
[71]	valid_0's l2: 0.00559948
[72]	valid_0's l2: 0.00559791
[73]	valid_0's l2: 0.00560361
[74]	valid_0's l2: 0.00560783
[75]	valid_0's l2: 0.0056141
[76]	valid_0's l2: 0.00561451
[77]	valid_0's l2: 0.00561958
[78]	valid_0's l2: 0.00562498
[79]	valid_0's l2: 0.00562582
[80]	valid_0's l2: 0.00562541
[81]	valid_0's l2: 0.00562946
[82]	valid_0's l2: 0.00563416
[83]	valid_0's l2: 0.00563292
[84]	valid_0's l2: 0.00562556
[85]	valid_0's l2: 0.00563312
[86]	valid_0's l2: 0.00563255
[87]	valid_0's l2: 0.00563448
[88]	valid_0's l2: 0.00564029
[89]	valid_0's l2: 0.00564619
[90]	valid_0's l2: 0.00564707
[91]	valid_0's l2: 0.00564674
[92]	valid_0's l2: 0.00565261
[93]	valid_0's l2: 0.00565544
[94]	valid_0's l2: 0.00566064
[95]	valid_0's l2: 0.00566294
[96]	valid_0's l2: 0.00566644
[97]	valid_0's l2: 0.00566545
[98]	valid_0's l2: 0.00566604
[99]	valid_0's l2: 0.0056677
[100]	valid_0's l2: 0.00566956

0.857339569163627

In [15]:
pf = PolynomialFeatures(2)

In [16]:
X = pf.fit_transform(X.drop('gender', axis=1))
t = pf.transform(t.drop('gender', axis=1))
lr = LinearRegression() ## Model Build
lr.fit(X,y)
lr.score(X,y)

0.832444206091814

### Prediction
1. read data
2. model prediction
3. to_csv

In [31]:
test_lgb = lgb.predict(t) #lgb 預測值

In [26]:
test_xgb = xgb.predict(t) #xgb 預測值

In [17]:
predictions = lr.predict(t) #線性回歸

### Output .csv for submission

In [32]:
df_ans = pd.DataFrame(test_lgb.astype(float), columns=['Burn Rate'])
df_ans.to_csv('mySubmission.csv', index_label='Employee ID')

### Cross validation
- usually we will do cross validation to evaluate the generalization of model
- or you can just use ```sklearn.model_selection.train_test_split``` to evaluate your model

In [33]:
from sklearn.model_selection import cross_val_score, cross_validate
# directly use cross_val_score
scores = cross_val_score(lgb, X, y, cv=5)
print("R2: %0.2f (std: %0.2f)" % (scores.mean(), scores.std()))
print(scores)
# need other scoring
scores = cross_validate(lgb, X, y, cv=5,
                       scoring=('r2', 'neg_mean_squared_error', 'neg_mean_absolute_percentage_error'))
print("====================================")
print("R2: {} (std: {})".format(scores['test_r2'].mean(), scores['test_r2'].std()))
print("MSE: {} (std: {})".format(-scores['test_neg_mean_squared_error'].mean(), scores['test_neg_mean_squared_error'].std()))
print("MAPE: {} (std: {})".format(-scores['test_neg_mean_absolute_percentage_error'].mean(), scores['test_neg_mean_absolute_percentage_error'].std()))

/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

R2: 0.86 (std: 0.02)
[0.86922737 0.86102441 0.86263637 0.86508953 0.8212214 ]

/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/shou/Library/Python/3.8/lib/python/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

====================================
R2: 0.8558398161205135 (std: 0.017528786028827768)
MSE: 0.005397391654340099 (std: 0.00045647350358160225)
MAPE: 2643285476291.537 (std: 703348173105.616)

### Same preprocessing step as training procedure
- can write it like a function or pipeline

### Some Tips
1. try different scaling approach (numerical variable)
2. encoding method
3. different model
4. feature engineering (some different transformation)
5. do some data exploration to see other pattern
6. hyperparameter

### Other Complementary
- pipeline: https://scikit-learn.org/stable/modules/compose.html#pipeline
- also can try some basic deep learning model (ANN)